<div class="container">
    <div class="container">
      <div class="izq">       
        <img class="imagen" src="assets/first.jpg" alt="">
      </div>
    </div>
        <div class="der">
          <body>
    
              <form class="registration-form">
                <br>
                <br>
                <br>
                <br>
                <h2>CREAR CUENTA</h2>
                <h3>Ya tienes una cuenta?<a href="paginas/login"><u>Iniciar sesion</u></a></h3>
                <label for="name">Nombre:</label>
                <td><input type="text" id="name" name="name" required [(ngModel)]="user.nombre"></td>
                <label for="username">Usuario:</label>
                <td><input type="text" id="username" name="username" required [(ngModel)]="user.usuario"></td>
                <label for="email">Correo Electrónico:</label>
                <td><input type="email" id="email" name="email" required [(ngModel)]="user.correo"></td>
                <label for="password">Contraseña:</label>
                <td><input type="password" id="password" name="password" required [(ngModel)]="user.contrasena"></td>
                <button type="submit" id="logprin" (click)="guardar()">Crear cuenta</button><br>
                <button type="button">Crear cuenta con Google</button><br>
                <button type="button">Crear cuenta con Facebook</button>
                <br>
                <br>
                <br>
                <br>
                <br>
              </form>
          </body>
        </div>
    </div>
    
    <!--------------------------------------FOOTER-------------------------------------->
    <footer class="footer">
      <div class="footer-column">
        <h3>CONTACTO</h3>
        <p>🎧 Atención al cliente 24/7: (+593)987654321</p>
        <p>Stole es una tienda de ropa online que ofrece una seleccion unica de prendas modernas y elegantes. Con un enfoque en la calidad, moda y comodidad, Stole brinda a sus clientes una experiencia de compra conveniente y estilixada, con envios rápidos y atencion personalizada</p>
        <div class="social-icons">
          <img src="assets/icons/facebook.jpg" alt="facebook" >
          <img src="assets/icons/instagram.jpg" alt="instagram">
          <img src="assets/icons/youtube.jpg" alt="youtube">
          <img src="assets/icons/whatsapp.jpg" alt="whatsapp">
          <img src="assets/icons/tik-tok.jpg" alt="tiktok">
          <img src="assets/icons/gorjeo.jpg" alt="twitter">
        </div>
      </div>
      <div class="footer-column">
        <div class="footer-center">
          <h3>PREGUNTAS FRECUENTES</h3>
          <ul>
            <li><u>¿Qué es STOLE?</u></li>
            <li><u>Centro de ayuda en linea</u></li>
            <li><u>Política de devolucion de productos</u></li>
            <li><u>Términos y condiciones</u></li>
            <li><u>Trabaja con nosotros</u></li>
            <li><u>Propiedad intelectual</u></li>
          </ul>
        </div>
      </div>
      <div class="footer-column">
        <div class="footer-end">
          <h3>MÉTODOS DE PAGO</h3>
          <div class="social-icons">
            <img src="assets/icons/visa.jpg" alt="Visa" >
            <img src="assets/icons/paypal.jpg" alt="Paypal" >
            <img src="assets/icons/tarjeta.jpg" alt="MasterCard" >
          </div>
        </div>
      </div>
      <p class="slogan">® 2014 - 2029 - Stole - Todos los derechos reservados - Todas las marcas son propiedad de sus respectivos dueños </p>
    </footer>