
<!--------------------------------------ENCABEZADO-------------------------------------->
<div class="header-container">
  <div class="column"><p>Envíos Gratis!</p></div>
  <div class="column"><p>Hasta el 40% OFF | Black January</p></div>
  <div class="column"><p>IMPORTANTE</p></div>
</div>
<div class="seccion-tres-columnas">
  <div class="column"><img src="assets/icons/stole.jpg" alt="Logo de la tienda" class="logo-img"></div>
  <div class="column">
      <input type="text" placeholder="Buscar">
      <button class="search-button"><img src="assets/icons/search.jpg" alt="Perfil" class="search-img"></button>
      <div class="tabs">
          <span><a href="paginas/home">INICIO</a></span><span><a href="pagina/productos">TIENDA</a></span><span><a href="paginas/ofertas">OFERTAS</a></span>
      </div>
  </div>
  <div class="column">
      <button><img src="assets/icons/user.jpg" alt="Perfil"></button>
      <button><img src="assets/icons/heart.jpg" alt="Perfil"></button>
      <button><img src="assets/icons/carrito.jpg" alt="Perfil"></button>
  </div>
</div>



<!--------------------------------------PRODUCTOSSSSSSSS-------------------------------------->

<div class="productos">
  <h2>PRODUCTOS</h2>
  <div class="product-row">
    <div class="product-card">
      <div class="product-image" style="background-image: url('assets/icons/Producto15.PNG')"></div>
      <div class="product-info">
        <h3 class="product-title">Abrigo lijero con bolsillos</h3>
        <h3 class="product-title">Voianlimo</h3>
        <h3 class="product-title product-price">$44.40</h3>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image" style="background-image: url('assets/icons/Producto2.PNG')"></div>
      <div class="product-info">
        <h3 class="product-title">Gafas de sol</h3>
        <h3 class="product-title">Prada</h3>
        <h3 class="product-title">$20.00</h3>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image" style="background-image: url('assets/icons/Producto3.PNG')"></div>
      <div class="product-info">
        <h3 class="product-title">Gorra abrigada</h3>
        <h3 class="product-title">Prada</h3>
        <h3 class="product-title">$6.50</h3>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image" style="background-image: url('assets/icons/Producto4.PNG')"></div>
      <div class="product-info">
        <h3 class="product-title">Gafas corazón derretido</h3>
        <h3 class="product-title">Prada</h3>
        <h3 class="product-title">$20.00</h3>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image" style="background-image: url('assets/icons/Producto5.PNG')"></div>
      <div class="product-info">
        <h3 class="product-title">Blusa corsel moldeador</h3>
        <h3 class="product-title">Prada</h3>
        <h3 class="product-title">$37.99</h3>
      </div>
    </div>
  </div>
  <div class="product-row">
    <div class="product-card">
      <div class="product-image" style="background-image: url('assets/icons/Producto12.PNG')"></div>
      <div class="product-info">
        <h3 class="product-title">Chaqueta</h3>
        <h3 class="product-title">Prada</h3>
        <h3 class="product-title">$68.56</h3>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image" style="background-image: url('assets/icons/Producto7.PNG')"></div>
      <div class="product-info">
        <h3 class="product-title">Gorro Vampiro</h3>
        <h3 class="product-title">Prada</h3>
        <h3 class="product-title">$25.50</h3>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image" style="background-image: url('assets/icons/Producto14.PNG')"></div>
      <div class="product-info">
        <h3 class="product-title">Buso negro de algodón</h3>
        <h3 class="product-title">Prada</h3>
        <h3 class="product-title">$59.99</h3>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image" style="background-image: url('assets/icons/Producto9.PNG')"></div>
      <div class="product-info">
        <h3 class="product-title">Zapatos NK200</h3>
        <h3 class="product-title">Nike</h3>
        <h3 class="product-title">$90.23</h3>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image" style="background-image: url('assets/icons/Producto16.PNG')"></div>
      <div class="product-info">
        <h3 class="product-title">Conjunto fresa</h3>
        <h3 class="product-title">Prada</h3>
        <h3 class="product-title">$59.99</h3>
      </div>
    </div>
  </div>

<h3>ACCESORIOS</h3>
  <div class="product-row">
    <div class="product-card">
      <div class="product-image" style="background-image: url('assets/icons/Producto40.PNG')"></div>
      <div class="product-info">
        <h3 class="product-title">Anillo vampiro de plata</h3>
        <h3 class="product-title">Prada</h3>
        <h3 class="product-title product-price">$59.99</h3>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image" style="background-image: url('assets/icons/Producto41.PNG')"></div>
      <div class="product-info">
        <h3 class="product-title">Anillo astro de plata</h3>
        <h3 class="product-title">Prada</h3>
        <h3 class="product-title">$59.99</h3>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image" style="background-image: url('assets/icons/Producto42.PNG')"></div>
      <div class="product-info">
        <h3 class="product-title">Bolso de mano fantasma</h3>
        <h3 class="product-title">Parda</h3>
        <h3 class="product-title">$49.99</h3>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image" style="background-image: url('assets/icons/Producto43.PNG')"></div>
      <div class="product-info">
        <h3 class="product-title">Percings collection</h3>
        <h3 class="product-title">Prada</h3>
        <h3 class="product-title">$69.95</h3>
      </div>
    </div>
  </div>
</div>

   <!--------------------------------------FOOTER-------------------------------------->
   <footer class="footer">
    <div class="footer-column">
      <h3>CONTACTO</h3>
      <p>🎧 Atención al cliente 24/7: (+593)987654321</p>
      <p>Stole es una tienda de ropa online que ofrece una seleccion unica de prendas modernas y elegantes. Con un enfoque en la calidad, moda y comodidad, Stole brinda a sus clientes una experiencia de compra conveniente y estilixada, con envios rápidos y atencion personalizada</p>
      <div class="social-icons">
        <img src="assets/icons/facebook.jpg" alt="facebook" >
        <img src="assets/icons/instagram.jpg" alt="instagram">
        <img src="assets/icons/youtube.jpg" alt="youtube">
        <img src="assets/icons/whatsapp.jpg" alt="whatsapp">
        <img src="assets/icons/tik-tok.jpg" alt="tiktok">
        <img src="assets/icons/gorjeo.jpg" alt="twitter">
      </div>
    </div>
    <div class="footer-column">
      <div class="footer-center">
        <h3>PREGUNTAS FRECUENTES</h3>
        <ul>
          <li><a href="paginas/acercade"><u>¿Qué es STOLE?</u></a></li>
          <li><u>Centro de ayuda en linea</u></li>
          <li><u>Política de devolucion de productos</u></li>
          <li><u>Términos y condiciones</u></li>
          <li><u>Trabaja con nosotros</u></li>
          <li><u>Propiedad intelectual</u></li>
        </ul>
      </div>
    </div>
    <div class="footer-column">
      <div class="footer-end">
        <h3>MÉTODOS DE PAGO</h3>
        <div class="social-icons">
          <img src="assets/icons/visa.jpg" alt="Visa" >
          <img src="assets/icons/paypal.jpg" alt="Paypal" >
          <img src="assets/icons/tarjeta.jpg" alt="MasterCard" >
        </div>
      </div>
    </div>
    <p class="slogan">® 2014 - 2029 - Stole - Todos los derechos reservados - Todas las marcas son propiedad de sus respectivos dueños </p>
  </footer>
