

<div class="productos">
    <h2>PRODUCTOS</h2>
    <div class="product-row">
      <div class="product-card">
        <div class="product-image" style="background-image: url('assets/icons/Producto1.PNG')"></div>
        <div class="product-info">
          <h3 class="product-title">Producto 1</h3>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image" style="background-image: url('assets/icons/Producto2.PNG')"></div>
        <div class="product-info">
          <h3 class="product-title">Producto 2</h3>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image" style="background-image: url('assets/icons/Producto3.PNG')"></div>
        <div class="product-info">
          <h3 class="product-title">Producto 3</h3>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image" style="background-image: url('assets/icons/Producto4.PNG')"></div>
        <div class="product-info">
          <h3 class="product-title">Producto 4</h3>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image" style="background-image: url('assets/icons/Producto5.PNG')"></div>
        <div class="product-info">
          <h3 class="product-title">Producto 5</h3>
        </div>
      </div>
    </div>
    <div class="product-row">
      <div class="product-card">
        <div class="product-image" style="background-image: url('assets/icons/Producto6.PNG')"></div>
        <div class="product-info">
          <h3 class="product-title">Producto 6</h3>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image" style="background-image: url('assets/icons/Producto7.PNG')"></div>
        <div class="product-info">
          <h3 class="product-title">Producto 7</h3>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image" style="background-image: url('assets/icons/Producto8.PNG')"></div>
        <div class="product-info">
          <h3 class="product-title">Producto 8</h3>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image" style="background-image: url('assets/icons/Producto9.PNG')"></div>
        <div class="product-info">
          <h3 class="product-title">Producto 9</h3>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image" style="background-image: url('assets/icons/Producto10.PNG')"></div>
        <div class="product-info">
          <h3 class="product-title">Producto 10</h3>
        </div>
      </div>
    </div>
  
