
<!-- productos.component.html -->
<body>
  <div class="container">
    <h1>S</h1>
    <div class="options">
      <!-- ... tus opciones de productos aquí ... -->
    </div>

    <!-- Agrega la clase 'productos-page' al contenedor específico de la página de productos -->
    <div class="productos-page">
      <div id="carrousel">
        <div class="container">
          <div class="title col-md-12 text-center"> Waterwheel Owl Carousel 2</div>
          <div class="col-md-12">
            <div class="owl-carousel owl-theme">
              <img src="https://picsum.photos/300/300/?random&1">
              <img src="https://picsum.photos/300/300/?random&2">
              <img src="https://picsum.photos/300/300/?random&3">
              <img src="https://picsum.photos/300/300/?random&4">
             
            </div>
          </div>
          <div class="text-center">
            <button id="play-carousel" type="button" class="btn btn-dark">Play</button>
            <div class="status"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>




















<!--------------------------------------CATEGORIAS-------------------------------------->
<body>
    <div class="categories">
        <h2>CATEGORÍAS POPULARES</h2>
        <div class="category-row">
            <div class="category-option">Zapatos</div>
            <div class="category-option">Hoddies</div>
            <div class="category-option">Abrigos</div>
        </div>
        <div class="category-row">
            <div class="category-option">Gorras</div>
            <div class="category-option">Blusas</div>
        </div>
    </div>
</body>

  <!--------------------------------------PARA QUIEN COMPRAS-------------------------------------->

  <body>
    <div class="container">
      <h2>PARA QUIEN COMPRAS</h2>
      <div class="options">
        <div class="logo-container">
          <img src="assets/icons/hombre-image.PNG" alt="Hombre">
          <div class="logo-text">HOMBRE</div>
        </div>
        <div class="logo-container">
          <img src="assets/icons/mujer-image.PNG" alt="Mujer">
          <div class="logo-text">MUJER</div>
        </div>
        <div class="logo-container">
          <img src="assets/icons/nino-image.PNG" alt="Nino">
          <div class="logo-text">NIÑO</div>
        </div>
      </div>
    </div>
  </body>
 
  
<!--------------------------------------PRODUCTOS POPULARES-------------------------------------->

<body>
  <div class="container">
    <h2>PRODUCTOS POPULARES</h2>
    <div class="options">
      <div class="category-container">
        <img src="assets/icons/abrigo.PNG" alt="Abrigo de Invierno Gucci">
        <div class="category-text">Abrigo de Invierno Gucci</div>
      </div>
      <div class="category-container">
        <img src="assets/icons/zapatos.PNG" alt="Zapatos NK200">
        <div class="category-text">Zapatos NK200</div>
      </div>
      <div class="category-container">
        <img src="assets/icons/cuero.PNG" alt="Zapatos de cuero Lacoste">
        <div class="category-text">Zapatos de cuero Lacoste</div>
      </div>
      <div class="category-container">
        <img src="assets/icons/gorra.PNG" alt="">
        <div class="category-text">Gorra hueso ajustable Adidas</div>
      </div>
    </div>
  </div>
</body>


  <!--------------------------------------FOOTER-------------------------------------->
  <footer class="footer">
    <div class="footer-column">
      <h3>CONTACTO</h3>
      <p>🎧 Atención al cliente 24/7: (+593)987654321</p>
      <p>Stole es una tienda de ropa online que ofrece una seleccion unica de prendas modernas y elegantes. Con un enfoque en la calidad, moda y comodidad, Stole brinda a sus clientes una experiencia de compra conveniente y estilixada, con envios rápidos y atencion personalizada</p>
      <div class="social-icons">
        <img src="assets/icons/facebook.jpg" alt="facebook" >
        <img src="assets/icons/instagram.jpg" alt="instagram">
        <img src="assets/icons/youtube.jpg" alt="youtube">
        <img src="assets/icons/whatsapp.jpg" alt="whatsapp">
        <img src="assets/icons/tik-tok.jpg" alt="tiktok">
        <img src="assets/icons/gorjeo.jpg" alt="twitter">
      </div>
    </div>
    <div class="footer-column">
      <div class="footer-center">
        <h3>PREGUNTAS FRECUENTES</h3>
        <ul>
          <li><u>¿Qué es STOLE?</u></li>
          <li><u>Centro de ayuda en linea</u></li>
          <li><u>Política de devolucion de productos</u></li>
          <li><u>Términos y condiciones</u></li>
          <li><u>Trabaja con nosotros</u></li>
          <li><u>Propiedad intelectual</u></li>
        </ul>
      </div>
    </div>
    <div class="footer-column">
      <div class="footer-end">
        <h3>MÉTODOS DE PAGO</h3>
        <div class="social-icons">
          <img src="assets/icons/visa.jpg" alt="Visa" >
          <img src="assets/icons/paypal.jpg" alt="Paypal" >
          <img src="assets/icons/tarjeta.jpg" alt="MasterCard" >
        </div>
      </div>
    </div>
    <p class="slogan">® 2014 - 2029 - Stole - Todos los derechos reservados - Todas las marcas son propiedad de sus respectivos dueños </p>
  </footer>