<div class="container">
          
    <div class="izq">
      <p><b id=sopa>Sopa: </b>Un plato de sopa es una preparación culinaria que generalmente consiste en un caldo o líquido base al que se agregan ingredientes como verduras, carne, pescado, legumbres y condimentos. Las sopas pueden ser calientes o frías y se sirven en un plato hondo.</p><br>
      <p>Una sopa de pollo con fideos es un ejemplo clásico. Consiste en un caldo de pollo con fideos tiernos, trozos de pollo, zanahorias y apio.</p><br>
    </div>
      <div class="der">
        <img class="imagen" src="assets/first.jpg" alt="">
      </div>
  </div>