.header-container {
  background-color: #333; /* Fondo oscuro, puedes cambiar el color según tus preferencias */
  color: white; /* Texto blanco */
  display: flex;
  justify-content: space-between; /* Divide en 3 columnas */
  padding: 10px; /* Añade algún espaciado para mejorar el diseño */
  
  .column {
    flex: 1; /* Cada columna ocupa la misma cantidad de espacio */
    text-align: center; /* Centra el texto en cada columna */
  }
}

.encabezado-dos {
  background-color: #bebebe; /* Fondo oscuro, puedes cambiar el color según tus preferencias */
  color: white; /* Texto blanco */
  display: flex;
  justify-content: space-between; /* Divide en 3 columnas */
  padding: 10px; /* Añade algún espaciado para mejorar el diseño */
  
  .column {
    flex: 1; /* Cada columna ocupa la misma cantidad de espacio */
    text-align: center; /* Centra el texto en cada columna */


    .icon-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      display: flex;
      align-items: center;

      img {
        width: 30px; /* Ajusta el tamaño del icono según sea necesario */
        height: 30px; /* Ajusta el tamaño del icono según sea necesario */
        margin-right: 5px; /* Espaciado entre los iconos, ajusta según sea necesario */
      }
    }
  }
}



//-------------------------------------------------Footer------------------------------------------------
.footer {background-color: #000000;color: #ffffff;padding: 20px;display: flex;justify-content: space-between;align-items: flex-start;flex-wrap: wrap;
    .footer-column {font-family: Arial, sans-serif;flex: 1;margin-right: 20px;text-align: justify;
      h3 {font-size: 18px;margin-bottom: 10px;}
      p {margin: 5px 0;}
      ul {list-style-type: none;padding: 0;margin: 0;li {margin: 5px 0;}}
      .footer-center{text-align: center;}
      .footer-end{text-align: center;}
      .social-icons {img {width: 25px;margin-right: 15px;}}
    }
    .slogan {text-align: center;width: 100%;margin-top: 20px;font-style: italic;font-size: 16px;}
  }
  