//-------------------------------------------------Encabezado------------------------------------------------
.header-container {background-color: #333;color: white;display: flex;justify-content: space-between; 
  .column {flex: 1; text-align: center;}}
.seccion-tres-columnas {background-color: #b8b8b8;color: white;display: flex;justify-content: space-between;padding: 1px;
  .column {flex: 1; text-align: center;
    input {width: 70%;padding: 5px;box-sizing: border-box;border-radius: 5px;}
    .tabs {display: flex; margin-top: 10px;
      span {flex: 1;background-color: #999999;border-radius: 15px;text-align: center;border: 1px solid #464646;padding: 5px;
        cursor: pointer;
        &:not(:last-child) {margin-right: 5px;}
        a {text-decoration: none; color: white;}
      }}
    button {background-color: transparent;border: none;color: white;cursor: pointer;padding: 5px;margin-top: 10px;border-radius: 50%;img {max-width: 100%; width: 30px;}}
    .logo-img {width: 85px;}
    .search-button {width: 25px;}
  }
}
//------------------------------------PORTADA------------------------------------------>
$ancho-imagen: 1286px;
$alto-imagen: 400px;
.portada {width: $ancho-imagen; height: $alto-imagen; overflow: hidden;
  img {width: 100%; height: 100%; object-fit: cover;}
}
//--------------------------------------CATEGORIAS-------------------------------------->
  .categories {margin-top: 20px;
    h2 {text-align: center; margin-bottom: 20px;}
    .category-row {display: flex; justify-content: center;  
      .category-option {
        padding: 15px;
        margin: 0.5%;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        background-color: #ccc;
        border-radius: 15px;
        transition: background-color 0.3s ease;
        min-height: 30px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #333;
        &:hover,
        &:focus {background-color: #4FC1E3;color: #fff;}  
        &:focus {outline: none; box-shadow: 0 0 0 3px rgba(79, 193, 227, 0.5);}
        &:active {animation: mover 0.5s ease;}
        &:active::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 110%;
          height: 110%;
          background: #4FC1E3;
          z-index: -1;
          transform: translate(10px, 10px);
        }
      }
    }
    @keyframes mover {
      0% {transform: translate(0);}
      50% {transform: translate(50px, 50px);}
      100% {transform: translate(0);}
    }
  }
  
  
  //-------------------------------------------------PARA QUIEN COMPRAS------------------------------------------------
.centered-title {display: flex; flex-direction: column; align-items: center;}
.options-grid {display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 0.10cm;}
.option {display: flex; flex-direction: column; align-items: center; cursor: pointer;}
.image-container {position: relative;width: 300px; height: 350px;}
.image-container img {width: 100%; height: 100%;}
.text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(169, 166, 166, 0.6);
  color: rgb(26, 23, 23);
  padding: 2px;
}

  //------------------------------------------PRODUCTOS POPULARES-------------------------------------------------------
  .container {width: 100%; margin: 0 auto; padding: 20px;
    h1 { text-align: center; margin-bottom: 20px;}
    .centered-title {display: flex; flex-direction: column; align-items: center;}
    .products-container {display: flex; justify-content: center;}
    .product-row {display: flex; justify-content: space-around; width: 100%; max-width: 800px;}
    .product {position: relative; width: 100px; margin: 0 0.40cm;}
    .image-container {width: 100px; height: 100px; overflow: hidden; margin-bottom: 76px;}
    .image-container img {width: 100%; height: auto; transition: transform .2s ease-in-out;}
    .image-container:hover img {transform: scale(1.1);}
    .text-container {background-color: #f2f2f2; padding: 5px; text-align: center; width: 100px; margin-top: 5px;}
    .product-name {margin-top: 2px;}
  }


//-------------------------------------------------Footer------------------------------------------------
  .footer {background-color: #000000;color: #ffffff;padding: 20px;display: flex;justify-content: space-between;align-items: flex-start;flex-wrap: wrap;
    .footer-column {font-family: Arial, sans-serif;flex: 1;margin-right: 20px;text-align: justify;
      h3 {font-size: 18px;margin-bottom: 10px;}
      p {margin: 5px 0;}
      ul {list-style-type: none;padding: 0;margin: 0;li {margin: 5px 0;}}
      .footer-center{text-align: center;}
      .footer-end{text-align: center;}
      .social-icons {img {width: 25px;margin-right: 15px;}}
    }
    .slogan {text-align: center;width: 100%;margin-top: 20px;font-style: italic;font-size: 16px;}
  }