//-------------------------------------------------ENCABEZADO------------------------------------------------
.header-container {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;  
  .column {flex: 1;text-align: center;}
}
.seccion-tres-columnas {
  background-color: #b8b8b8;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1px;
  .column {flex: 1;text-align: center;
    input {
      width: 70%;
      padding: 5px;
      box-sizing: border-box;
    }
    .tabs {display: flex;margin-top: 10px;
      span {flex: 1; text-align: center; border: 1px solid #464646; padding: 5px;cursor: pointer; &:not(:last-child) {margin-right: 5px;}}
    }
    button {
      background-color: transparent;
      border: none;
      color: white;
      cursor: pointer;
      padding: 5px;
      margin-top: 10px;
      border-radius: 50%;
      img {
        max-width: 100%;
        width: 30px;
      }
    }
    .logo-img {width: 85px;}
    .search-button {width: 25px;}
  }
}

//-------------------------------------------------BODY CARRUSEL ------------------------------------------------


  //--------------------------------------CATEGORIAS-------------------------------------->
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

.categories {
    max-width: 600px;
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.categories h2 {
    color: #333333;
}

.category-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Permite que las opciones se ajusten en una nueva línea cuando no hay espacio */
}

.category-option {
    background-color: #ccc;
    border: 2px solid #9b9d9f;
    border-radius: 8px;
    padding: 10px;
    width: calc(20% - 20px); /* Ajusta según sea necesario, teniendo en cuenta el margen */
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #00ced1; /* Turquesa */
    }
}

  
  
  //-------------------------------------------------PARA QUIEN COMPRAS------------------------------------------------
  .centered-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .options-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Set 3 columns with equal width */
    grid-gap: 0.25cm; /* Set a 2cm gap between grid items */
  }
  
  .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .image-container {
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
  }
  
  .text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(169, 166, 166, 0.6);
    color: rgb(26, 23, 23);
    padding: 2px;
  }


  //------------------------------------------PRODUCTOS POPULARES-------------------------------------------------------
 .products-container {
  display: flex;
  justify-content: center;
}

.product-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
}

.product {
  position: relative;
  width: 100px;
}

.image-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 0.03x; /* Agregar margen de 20px (2 cm) */
}

.image-container img {
  width: 100%;
  height: auto;
  transition: transform .2s ease-in-out;
}

.image-container:hover img {
  transform: scale(1.1);
}

.text-containers {
  background-color: #f2f2f2;
  padding: 5px;
  text-align: center;
  width: 100px;
  margin-top: 5px;
}
//-------------------------------------------------Footer------------------------------------------------
  .footer {background-color: #000000;color: #ffffff;padding: 20px;display: flex;justify-content: space-between;align-items: flex-start;flex-wrap: wrap;
    .footer-column {font-family: Arial, sans-serif;flex: 1;margin-right: 20px;text-align: justify;
      h3 {font-size: 18px;margin-bottom: 10px;}
      p {margin: 5px 0;}
      ul {list-style-type: none;padding: 0;margin: 0;li {margin: 5px 0;}}
      .footer-center{text-align: center;}
      .footer-end{text-align: center;}
      .social-icons {img {width: 25px;margin-right: 15px;}}
    }
    .slogan {text-align: center;width: 100%;margin-top: 20px;font-style: italic;font-size: 16px;}
  }