//-------------------------------------------------Encabezado------------------------------------------------
.header-container {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;  
  .ecolumn {flex: 1; text-align: center;}
}
.seccion-tres-columnas {
  background-color: #b8b8b8;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1px;
  .ecolumn {flex: 1; text-align: center;
    input {
      width: 70%;
      padding: 5px;
      box-sizing: border-box;
      border-radius: 5px;
    }
    .tabs {display: flex; margin-top: 2px;
      span {
        flex: 1;
        background-color: #999999;
        border-radius: 15px;
        margin-bottom: 8px;
        text-align: center;
        border: 1px solid #464646;
        padding: 5px;
        cursor: pointer;
        &:not(:last-child) {margin-right: 5px;}
        a {text-decoration: none; color: white;}
      }
    }
    button {
      background-color: transparent;
      border: none;
      color: white;
      cursor: pointer;
      padding: 5px;
      margin-top: 10px;
      border-radius: 50%;
      img {max-width: 100%; width: 30px;}
    }
    .logo-img {width: 85px;}
    .search-button {width: 25px;}
  }
}

//------------------------------------------------BODY----------------------------------------------------
.container { display: flex; justify-content: space-between; align-items: center; width: 100%; max-width: 1200px; margin: 0 auto;}
.column {flex: 1; padding: 20px; border-radius: 15px;}
.left {background-color: #fafafa; align-self: center;}
.center {background-color: #ffffff;
  .optionsTalla {select {padding: 8px 20px;font-size: 16px;border: 1px solid #ccc;border-radius: 5px;background-color: #f9f9f9;color: #333;cursor: pointer;outline: none;
      option:first-child {color: #999;}
      &:hover {border-color: #aaa;}
      &:focus {border-color: #007bff;box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);}}}
  .optionsColor {select {padding: 8px 20px;font-size: 16px;border: 1px solid #ccc;border-radius: 5px;background-color: #f9f9f9;color: #333;cursor: pointer;outline: none;
    option:first-child {color: #999;}
    &:hover {border-color: #aaa;}
    &:focus {border-color: #007bff;box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);}}}}
    #numero {width: 100px;height: 25px;padding: 5px;border: 1px solid #ccc;border-radius: 5px;font-size: 16px; outline: none;&:hover,&:focus {border-color: #007bff;}}
    
.right {background-image: linear-gradient(to bottom, #d0d0d0, #ffffff);; 
  .social-icons {img {width: 15px;margin-right: 8px;}}
  .pay-icons {img {width: 25px;margin-right: 8px;}}
  .report { button {
            background-color: #007bff;
            color: #fff;
            border-radius: 15px;
            padding: 10px 20px;
            margin-top: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
            &:hover {background-color: #0056b3;}}}}
.report {text-align: center;}
.left img {
  width: 100%;
  height: auto;
  max-width: 360px;
  max-height: 459px;
  border-radius: 15px;
}
button {background-color: #aaaaaa; color: #fff; margin-bottom: 10px; border-radius: 15px; padding: 10px 20px; margin-top: 10px; cursor: pointer; transition:background-color 0.3s; &:hover {background-color: #7e7e7e;}}
.error-box {
  background-color: #ffcccc;
  color: #ff0000;
  padding: 10px;
  border: 1px solid #ff0000;
  border-radius: 5px;
  margin-top: 10px;
}
  
//-------------------------------------------------Footer------------------------------------------------
.footer {background-color: #000000;color: #ffffff;padding: 20px;display: flex;justify-content: space-between;align-items: flex-start;flex-wrap: wrap;
  .footer-column {font-family: Arial, sans-serif;flex: 1;margin-right: 20px;text-align: justify;
    h3 {font-size: 18px;margin-bottom: 10px;}
    p {margin: 5px 0;}
    ul {list-style-type: none;padding: 0;margin: 0;li {margin: 5px 0;}}
    .footer-center{text-align: center;}
    .footer-end{text-align: center;}
    .social-icons {img {width: 25px;margin-right: 15px;}}
  }
  .slogan {text-align: center;width: 100%;margin-top: 20px;font-style: italic;font-size: 16px;}
}